body, html{
    box-sizing: border-box;
    background-color: rgb(43, 43, 51);
    margin: 0; padding: 0;

}
/* *{
    border: 1px solid black;
} */
.container{
    box-sizing: border-box;
    width:fit-content;
    margin: 20% auto;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    transform: translate(-50%, -50%);
}

.searchTab{
    width: 0;
    height: 9vh;
    background-color: orange;
    border-radius: 30px;
    position: absolute   ;
    visibility: hidden;
    transition: all 1s;
}

.searchIcon{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgb(253, 41, 4);
    border: none;
    position: relative;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa{
    font-size: 40px;
    color: white;
    transition: all .7s ease;
    cursor: pointer;
    display: block;

}
.fa:hover{
    color: yellow;
    transform: rotate(-360deg);
}

.container:hover .searchTab{
    visibility: visible;
    width: 350px;
    border: 2px solid white;
}