html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkblue;
}

/* *{
    border: 1px solid black;
} */
.sidebar{
    height: 15px;
    width: 15px;
    background-color: white;
    border: 5px dotted black;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.dropdown{
    width: 5cm;
    height: 10cm;
    display: none;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    border: 2px solid gray;
    right: 5px;
    top: 16px;

}

/* .sidebar:active .dropdown{
    display: block;
} */

.showdrop{
    display: block;
    overflow: scroll;
}

.container{
    padding: 0cm;
    margin: 120px auto;
    align-items: center;
    text-align: center;
}
.countNum{
    color: white;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100%;
    margin: 0;
    padding: 0;
}

h1{
    color: gray;
    margin: 0;
    padding: 0;
}
.btn{
    margin: 5px 4px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 7px ;
    border: none;
    box-shadow: 0px 4px 0px 0px whitesmoke;
    font-weight: 120%;
    cursor: pointer;
}
.btn:active{
    position: relative;
    top: 4px;
    box-shadow: none;
    cursor: pointer;
}
.btn-nuetral:hover{
    background-color: gray;
    color: rgb(228, 225, 225);
    cursor: pointer;
}
.btn-nuetral:active{
    background-color: rgb(102, 101, 101);
    color: white;
}
.btn-success{
    background-color: green;
}
.btn-danger{
    background-color: red;
}
.btn-primary{
    background-color: yellow;
}
table{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}


/* sidebar table style */

thead td{
    margin: -0;
    padding: 0 5px;
    background-color: aquamarine;
    text-align: center;
}
thead{
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}
td{
    margin: 0;
    width: 750%;
    box-sizing: border-box;
    padding: 0 5px;
    text-align: center;
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: gray;
}