html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}

 /* *{
    border: 1px solid black;
}  */
 
.container{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    margin: 1cm auto;
    padding: 0;
    height: 13cm;
    width: 8cm;
    min-height: 3.9cm;
    max-width: 302.367px;
    border-radius: 5px;
}
.screen{
    background-color: gray;
    opacity: 0.6;
    width: inherit;
    flex: 0.3;
}

.main{
    display: flex;
    flex-direction: row;
    flex: 0.7;
    /* flex-wrap: wrap; */
}
.main1{
    flex: 0.7;
}
.main2{
    flex: 0.23;
}
.main3{
    flex: 0.07;
    background-color: limegreen;
    position: relative;
    display: flex;


}
button{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover, .additional-bar button:hover{
    background-color: rgb(216, 41, 41);
}
button:active, .additional-bar button:active{
    background-color: red;
}

#button-container{
    display: flex;
}
#button-container button{
    flex: 0.33333;
    padding: 28.6px 20px;
    margin: 0;
    border: none;
}

.main2 button{
    display: block;
    width: 100%;
    padding: 19.52px 14px;
    border: none;
}

/* .main3 button
 */
/* .show{
    /* display: none; */
/* } */
/* .additional-bar{
    display: none;
    position: relative;
}
#button-addcont{
    display: flex;
    padding: 0;
    margin: 0;
}
#button-addcont button{
    flex: 0.3333333;
    margin: 0;
    padding: 20px;
    border: none;
}  */


#button-addcont {
    display: flex;
    flex-direction: row;

}
#button-addcont button{
    flex: 0.3333333;
    margin: 0;
    padding: 20px;
    border: none;

}

.additional-bar{
    box-sizing: border-box;
    position: absolute;
    display: none;
    overflow: hidden;
    right: 0;
    transform: translate(-4%);
    
}
.additional-bar button{
    background-color: rgb(247, 175, 175);
}


.show  {
    display: block;
}

/* screen style */
h2,h4, #format{
    padding: 0;
    margin: 0;
    text-align: left;
    overflow:auto;
}
#format{
    padding: 0 10px;
    margin: 0;
    font-size: 50%;
    position: relative;
}
#format > span{
    position: absolute;
    right: 5px;
}

::-webkit-scrollbar{
    display: none;
}

p, h2,h4{
    scrollbar-width: none;
}


h2,h4{
    text-align: right;
}


/* #format{
    height: 30px;
    width: 100%;
} */