*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body, html{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 0;
    padding:  1rem;
    font-size: 1.5rem;
    outline: none   ;
    border: none;
}

h1{
    text-align: center;
}

.message{
    background-color: transparent;
    width: 75%;
    height: 3rem;
    margin: 0 auto ;
    text-align: center;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    transition: all 600ms ease;

}
.container{
    margin: 0;
    border: 2px solid gray;
    margin-top: 6rem;
    border-radius: 2rem;
    box-shadow: .2rem .1rem 1rem .12rem rgba(0, 0, 0, 0.6);
    min-height: 30rem;
    max-height: 30rem;
}

input{
    padding: .8rem ;
    margin: 0;
    background-color: transparent;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid black;
}
.search__input{
    margin: 2px 2rem .2rem;
    padding: 0;
}
.submit__btn{
    background-color: lightpink;
    /* border: 2px dotted green; */
    margin-left: -5px;
    transition: all 400ms;
}
.submit__btn:hover{
    background-color: rgb(253, 139, 156);
}
.submit__btn:hover #btn__text{
    display: none;
}

.uil-plus{
    display: none;
    font-size: 1.5rem;
}
.submit__btn:hover .uil-plus{
    display: block;
    padding: 0 4px;
    color: white;
}
.submit__btn:active{
    transform: scale(0.95, 0.95);
}
#clear{
    display: flex;
    justify-content: center;
    margin-top: .2rem;
    margin-bottom: 2rem;
}

.clear-input__btn:hover{
    background-color: transparent;
    border: 2px solid brown;
    color: black;
    transform: scale(0.95);

}
.clear-input__btn{
    padding: 5px 10px;
    background-color: brown;
    color: white;
    transition: 200ms ease;
}

.list__data{
    width: 80%;
    margin: auto;
    max-height: 14rem;
    display: block  ;
    overflow: auto;

}

.list__data tr{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    
}
.list__data tr::after{
    content: "X";
    position: absolute;
    right: 0;
    width: 1.7rem;
    height: 100%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.list__data tr:hover:after{
    visibility: visible;
}

table{
    width: 100%;
}
#table-head__data td{
    border: 1px solid black;
    background-color: rgb(10, 236, 10);
}
#table-head__data{
    position: sticky;
    top: 0;
    z-index: 11;
}
.list__data tr:nth-child(odd){
    background-color: rgb(173, 170, 170);
}

.list__data tr td{
    flex: 25%;
    padding: .2rem;
    border: 1px solid black;
}

.price__unit{
    margin: auto;
    text-align: center;
}
.price__unit input{
    margin: 0;
    padding: 1px;
    width: 6.5rem;
}
.price__unit label{
    font-size: 1.2rem;
}
