*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    outline: none;
    border: none;

}

a{
    text-decoration: none;
}

h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
}
h1{
    font-size: 2.4rem;
}

body, html{
    background-color: var(--color1);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;

}

:root{
    --color1: wheat;
    --color2: green;
    --color3: white;
    --color4: black;
    --border1: 1px solid rgb(20, 20, 20);


    --transition: all 500ms ease;


}

.btn{
    font-size: 1.2rem;
    padding: .2rem 1.5rem;
    cursor: pointer;
    transition: var(--transition);

}

/*=========================header style=====================*/
#header__section{
    margin-bottom: 2rem;
    color: var(--color2);
}

/*=========================end of header style=====================*/
/*=========================container style=====================*/


.container{
    width: 90%;
    margin: auto;
}

section{
    display: grid;
    place-content: center;
}

.user__container{
    width: 660px;
    height: 460px;
    background-color: whitesmoke;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: .4rem;
    position: relative;
}

.left__container{
    margin: 1rem;
    position: relative;
    border-radius: 6rem;
    position: absolute;

}

.right__container{
    background-color: var(--color2);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    transition: left 600ms ease-in-out;
    transition: right 600ms ease-in-out;
}

.slide__left{
    position: absolute;
    top: 0;
    left: 0;

}
.slide__right{
    position: absolute;
    top: 0;
    right: 0;

}

.right__container h2{
    color: var(--color3);
    margin-top: 2rem;
}
.right__container button{
    color: white;
    margin: auto;
    padding: 1rem 2rem;
    background-color: transparent;
    outline: none;
    border-radius: 1rem;
    border: 2px solid var(--color1);

}
.right__container button:hover{
    background-color: wheat;
    color: black;
}

input{
    width: 350px;
    margin-bottom: .6rem;
    height: 2.3rem;
    padding-left: .5rem;
    display: block;
    border-radius: .5rem;

}

.login__container, .signup__container{
    /* position: absolute;
    top: 0;
    left: 0; */
    text-align: center;

}

.signup__container button, .login__container button{
    background-color: var(--color1);
    border-radius: 1rem;
    padding: .7rem 1.7rem;
    margin-bottom: 5px;
    color: rgb(36, 27, 27);
}

.signup__container button:hover, .login__container button:hover{
    background-color: green;
    color: white;
}

.login__container{
    display: none;
}
.login__container h2{
    margin: 2rem auto;

}
/* .signup__container{
    /* display: none; 
} */
/* ::placeholder{
    margin-left: .5rem;
} */

.user__container>div{
    transition: all 1s

}
#signup__error, #login__error{
    background-color: rgba(255, 0, 0, 0.5);
    margin-bottom: 5px;
}

.user__help h4{
    display: none;
}

@media only screen and (max-width: 580px){

    /* *{
        border: 1px solid black;
    } */
    .right__container{
        display: none;
    }
    .user__container{
        width: 20rem;
        display: flex;
        justify-content: center;

    }
    .signup__container, .login__container{
        transition: var(--transition);
    }
    .signup__container button{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    input{
        width: 100%;
        margin-bottom: 5px
    };

    .left__container{
        margin: auto;
    }
    .user__help{
        margin-top: 0;
    }

    .user__help h4 button{
        padding: .3rem .5rem;
    }
    .user__help h4{
        display: block;
    }

    .login__container button{
        margin-top: 2rem;

    }

    .signup__container{
        display: block;
    }
    .login__container{
        display: none;
    }

}