*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    outline: none;
    border: none;
    box-sizing: border-box;

}

:root{
    --color1: wheat;
    --color2: green;
    --color3: white;
    --color4: black;
    --border1: 1px solid rgb(20, 20, 20);
    --transition: all 400ms ease;


}


a{
    text-decoration: none;
}

h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
}
h1{
    font-size: 2.4rem;
}
body, html{
    background-color: var(--color1);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;
}
.btn{
    font-size: 1.2rem;
    padding: .2rem 1.5rem;
    cursor: pointer;
    transition: var(--transition);
}
/*=========================header style=====================*/
#header__section{
    margin-bottom: 2rem;
    color: var(--color2);
}

/*=========================end of header style=====================*/
/*=========================container style=====================*/
section{
    display: grid;
    place-content: center;
}
.user__container{
    width: 590px;
    height: 410px;
    background-color: whitesmoke;
    border-radius: 2rem;
    position: relative;
    transition: var(--transition);
}

.left__container{
    padding: .5rem ;
    width: 65%;
    position: absolute;
    left: 0%;
    transition: var(--transition);


}
.login__container, .signup__container{
    width: inherit;
    height: max-content;
}

.right__container{
    width: 35%;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    right: 0%;
    transition: var(--transition);
}

.right__container-child{
    background-color: var(--color2);
    height: inherit;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.signup__container, .login__container{
    display: none;
}

.right__container-child, .right__container-child{
    display: none;

}
.right__container-child h2{
    color: var(--color3);
    margin-top: 2rem;
}
.right__container-child button{
    color: white;
    margin: auto;
    padding: 1rem 2rem;
    background-color: transparent;
    outline: none;
    border-radius: 1rem;
    border: 2px solid var(--color1);

}
.right__container-child button:hover{
    background-color: wheat;
    color: black;
}

input{
    width: 350px;
    margin-bottom: .6rem;
    height: 2.3rem;
    padding-left: .5rem;
    display: block;
    border-radius: .5rem;
}

.login__container, .signup__container{
    text-align: center;
    width: 100%;
}

.signup__container button, .login__container button{
    background-color: var(--color1);
    border-radius: 1rem;
    padding: .7rem 1.7rem;
    margin-bottom: 5px;
    color: rgb(36, 27, 27);
    width: 100%;
}

.signup__container button:hover, .login__container button:hover{
    background-color: green;
    color: white;
}

.login__container h2{
    margin: 2rem auto;
}
::placeholder{
    margin-left: .5rem;
}
#signup__error, #login__error{
    background-color: rgba(255, 0, 0, 0.5);
    margin-bottom: 5px;
}
.user__help{
    display: none;
}

@media only screen and (max-width: 580px){

    /* *{
        outline: 1px solid black;
    }
 */
    .user__help{
        display: block;
    }

    #forgot{
        display: none;
    }

    .right__container{
        display: none;
    }
    .user__container{
        position: relative;
        width: 20rem;
        padding: 0;
        height: max-content;
        display: flex;
        justify-content: center;
        margin: auto;

    }

    .left__container{
        position: relative;
        margin: 0;
        width: inherit;
    }
    input{
        width: 100%;
        margin-bottom: 4px
    };

    .user__help{
        margin-top: 0;
    }

    .user__help h4 button{
        padding: .3rem .5rem;
        width: auto;
    }
    .user__help h4{
        display: block;
    }

    .login__container button{
        margin-top: 2rem;

    }
}


.p-right{
    right: calc(100% - 206.5px);
}
.p-left{
    left: calc(100% - 0px);
    translate: -100%;
}
.show{
    display: flex !important;
    flex-direction: column;
}

/* end of code */